# Ejercicio 1

### *Crea una lista que agrupe los meses del año en trimestres*

In [1]:
listameses = [["Enero" , "Febrero" , "Marzo"] , ["Abril" , "Mayo" , "Junio"] , ["Julio" , "Agosto" , "Septiembre"] , ["Octubre" , "Noviembre" , "Diciembre"]]

# Ejercicio 2

### *Crea un codigo que te permita acceder a:*

###### *1. El segundo mes del primer trimestre*

In [16]:
print(listameses[0][1]) # selecciono la lista que esta en el indice 0 de la lista principal, que es la primera. Y de esa lista el elemento que esta en el indice 1, que es el segundo.

Febrero

###### *2. Los meses del primer trimestre*

In [17]:
print(listameses[0]) # selecciono la lista que esta en el indice 0 de la lista principal, que es la primera.

['Enero', 'Febrero', 'Marzo']

###### *3. Septiembre y Octubre*

In [18]:
print((listameses[2][2]) , (listameses[3][0]))

Septiembre Octubre

# Ejercicio 3

### *Crear una lista con numeros desordenados*

In [8]:
listanumeros = [4, 6, 3, 1, 2, 3, 9, 5]

###### *1. Cuantos numeros hay*

In [9]:
print(len(listanumeros))

8

###### *2. Cuantas veces se repite el numero 3*

In [10]:
print(listanumeros.count(3))

2

###### *3. Cuantas veces aparecen los numeros 3 y 4*

In [11]:
print(listanumeros.count(3) , listanumeros.count(4))

2 1

###### *4. Cual es el numero mas grande*

In [12]:
print(max(listanumeros))

9

###### *5. Cuales son los numeros mas pequeños*

In [15]:
set(listanumeros) # elimino los numeros repetidos
listanumeros.sort() # ordeno los numeros de menor a mayor
print(listanumeros[:3]) # imprimo por pantalla los 3 primeros numeros

[1, 2, 3]

###### *6. Cual es el rango de esta lista*

In [ ]:
# El rango exactamente no se podría definir, ya que teoricamente es: range(start, stop, step)
# Entonces no cumpliria la correlacion de numeros del indice 0 a 10, porque faltan numeros enmedio.
# Y no cumpliria la secuencia de 1 en 1.

In [1]:
x = range(0, 10, 1)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

# Ejercicio 4

### *Crear un diccionario*

In [3]:
compra = { "Manzanas" : {"Qty": 5, "€": 0.42}, "Peras" : {"Qty": 3, "€": 0.66} }

###### *1. Añade alguna fruta mas*

In [4]:
compra["Melocotones"] = {"Qty": 4, "€": 0.77}
print(compra)

{'Manzanas': {'Qty': 5, '€': 0.42}, 'Peras': {'Qty': 3, '€': 0.66}, 'Melocotones': {'Qty': 4, '€': 0.77}}

###### *2. Cuanto han costado las peras en total*

In [5]:
totalPeras = compra["Peras"]["Qty"] * compra["Peras"]["€"] # extraigo y multiplico los valores de las claves.
print(totalPeras)

1.98

###### *3. Cuantas frutas hemos comprado en total*

In [6]:
cantPeras = compra["Peras"]["Qty"] # extraigo el valor de la clave "Qty" de Peras

cantManzanas = compra["Manzanas"]["Qty"] # extraigo el valor de la clave "Qty" de Manzanas

cantMelocotones = compra["Melocotones"]["Qty"] # extraigo el valor de la clave "Qty" de Melocotones

totalFrutas = cantPeras + cantManzanas + cantMelocotones # sumo los valores de las claves "Qty" de todas las frutas
print(totalFrutas)

12

###### *4. Cual es la fruta mas cara*

In [8]:
precioMasCaro = 0 # inicializo variables vacias para precio y fruta
frutaMasCara = ""
    
for fruta,precio in compra.items(): # recorro el diccionario y voy comparando los precios.
    if precio["€"] > precioMasCaro:
        frutaMasCara = fruta
    
print(frutaMasCara)

Melocotones